.dashboardimg{
  width:100vw;
  top:0;
  }
  .dashboardimg img{
  width:35vw;
  left:0;
  }
  .topRight{
    float: right;
    margin:20px 20px 0 0;
  }
  .button4 {
    margin-left: 10px;
    padding: 12px 24px;
    background-color: white; 
    color: black; 
    border: 2px solid blue;
     margin-top: 20px;
  }
  
  .button4:hover {
    background-color: blue;
    color: white;
  }
  .dashboard{
    display: flex;
    flex-direction: row;
    padding: 30px;
  }
  .admindetails{
    background-color: blue;
    color: white;
    border: 2px solid blue;
    padding: 10px;
    /* position:fixed; */
    padding: 30px;
    display:flex;
    flex-direction: column;
    align-items: flex-start; 
    /* position: absolute; */
    margin-right: 20px;
  }
  .adminfunc{
    display:flex;
    flex-direction: row;
    /*margin-left: 5px;*/
    align-items: center;
  }
  .adminfunc input{
    width: 15vw;
    height: 20px;
    font-size: 16px;
    margin: 10px;
    outline: 0;
    border-width: 0 0 2px;
    padding:5px;
  }
  .adminfunc input:focus {
    border-color: blue;
  }
  .adminfunc span{
    color: blue;
    margin-right: 10px;
  }
  .adminfunc select{
    border: 2px solid blue;
    color: blue;
    background-color: white;
    /* margin-left: 30px; */
    margin-right: 15px;
    height: 30px;
    width:8vw;
    display: inline-block;
    transition: .5s;
  }
  .adminfunc select :hover{
    background-color: red;
    color: white;
  }
  .adminfunc img{
    height:30px;
    width:30px;
    margin-left: 5px;
    margin-right: 20px;
  }
  .adminfunc button
  {
    margin-left: 30px;
  
  }
  .adminfunc select:hover{
    background: blue;
    color: white;
  }
  
  .student_table{
    /* position: absolute; */
    bottom: 0px;
  }
  
  .wrapper{
    /* position: relative; */
    display: felx;
    flex-direction: column;
    height:100vh;
  
  }
  .studenttable{
    margin: 1vw;
  }
  .sem {
    display: flex;
    flex-direction: row;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .image{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .image img{
    opacity: 30%;
  }