.wrap {
    width: 100%;
    background-color: white;
    position: fixed;
}

.row {
    margin-top: 22vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftcolumn {
    padding-left: 2vw;
    float: left;
    width: 50%;
}

.rightcolumn {
    margin-right: 2vw;
}

.login {
    margin-left: 10px;
    width: 200px;
    padding: 5px;
    margin-top: 20px;
    background-color: #ccc;
    border: 1px solid #ccc;
}

.login:hover {
    background-color: white;
}

.imagecss {
    border: 15px solid #ccc;
}

.imagecss img {
    width: 40vw;
    height: auto;
}

.error {
    margin: 10px;
    color: red;
    font-size: 10px;
    background: #ddd;
}

.tabbutton {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ddd;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 15px;
    text-align: center;
}

.inactive {
    background-color: white;
    color: #ccc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 15px;
    text-align: center;
}

form {
    background-color: #ddd;
    padding: 30px;
}

.formstudent input {
    font-size: 13px;
    width: 200px;
    height: 30px;
    padding: 2px 2px;
    margin: 10px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
}

.formstudent input:focus {
    border-color: black;
}

.errorInvalid{
    color: red;
    margin:auto;
    margin-bottom: 6px;
}

.formstudent div {
    display: flex;
    flex-direction: row;
}

.tabbutton,.inactive{
    width:50%;
}

@media only screen and (max-width:1038px) {
    .wrap {
        width: 100%;
    }
    .imagecss {
        top: 0;
        width: 100%;
    }
    .imagecss img {
        width: 90vw;
    }
    .row {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .leftcolumn {
        padding: 0px;
        width: 100%;
    }
    .rightcolumn {
        margin-left: 4vw;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formstudent {
        margin-top: 10vh;
        display: flex;
        margin-right: 4vw;
        flex-direction: column;
        right: 5px;
        background-color: white;
        padding: 20px;
        max-width: 400px;
        width: 90vw;
        border: 15px solid #ddd;
    }
    .formstudent input {
        font-size: 2vh;
        width: 40vw;
        max-width: 200px;
    }
    .login {
        margin-left: 10px;
        width: 40vw;
        max-width: 200px;
    }
}