.fine{
  color:red;
}
.details span{
  display: flex;
  flex-direction: column;
  margin:10px;
}
.details p{
  font-size: 25px;
  font-weight: bold;
}
.pay{
  display: flex;
  flex-direction:row; 
}
.paybutton{
  margin-left: 50px;
  width:100px;
  height: auto;
}